# pkgsrc's work dir
*/work
# OBJHOSTNAME=yes use-case
*/work.*

# Temporary files
Makefile-url2pkg.bak
commit_wip.sh
*~
\#*\#
.\#*
*.orig
*.core
*.*.swp

# CVS leftovers
CVS

# macOS files
.DS_Store

# distfiles, by accident
*.tar.gz
*.tar.bz2
*.tar.xz

# make readme output
README.html
index.html
